/* Ajustements spécifiques et réinitialisations CSS */
body {
    -webkit-tap-highlight-color: transparent;
}

.tab-btn {
    transition: color 0.2s ease, border-color 0.2s ease;
}

.tab-btn:focus {
    outline: none;
}
